.reviewsList {
  padding: 0px;
}

.reviewItem {
  padding: 20px;
  /* width: 100%; */
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.reviewItem:not(:last-child) {
  margin-bottom: 20px;
}

.reviewText {
  margin: 0 0 20px 0;
  font-style: italic;
}

.reviewAuthor {
  margin: 0;
  text-align: right;
}
